<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BankProjectmvc</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ValidationLogin</display-name>
		<servlet-name>ValidationLogin</servlet-name>
		<servlet-class>com.controller.ValidationLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>HomeLogin</display-name>
		<servlet-name>HomeLogin</servlet-name>
		<servlet-class>com.controller.HomeLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegisterValidation</display-name>
		<servlet-name>RegisterValidation</servlet-name>
		<servlet-class>com.controller.RegisterValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.controller.Register</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BalValidation</display-name>
		<servlet-name>BalValidation</servlet-name>
		<servlet-class>com.controller.BalValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Balence</display-name>
		<servlet-name>Balence</servlet-name>
		<servlet-class>com.controller.Balence</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Changepwdval</display-name>
		<servlet-name>Changepwdval</servlet-name>
		<servlet-class>com.controller.Changepwdval</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePwd</display-name>
		<servlet-name>ChangePwd</servlet-name>
		<servlet-class>com.controller.ChangePwd</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Transferval</display-name>
		<servlet-name>Transferval</servlet-name>
		<servlet-class>com.controller.Transferval</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Transfer</display-name>
		<servlet-name>Transfer</servlet-name>
		<servlet-class>com.controller.Transfer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Forgotpwdval</display-name>
		<servlet-name>Forgotpwdval</servlet-name>
		<servlet-class>com.controller.Forgotpwdval</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Forgotpwd</display-name>
		<servlet-name>Forgotpwd</servlet-name>
		<servlet-class>com.controller.Forgotpwd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidationLogin</servlet-name>
		<url-pattern>/ValidationLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeLogin</servlet-name>
		<url-pattern>/HomeLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterValidation</servlet-name>
		<url-pattern>/RegisterValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BalValidation</servlet-name>
		<url-pattern>/BalValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Balence</servlet-name>
		<url-pattern>/Balence</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Changepwdval</servlet-name>
		<url-pattern>/Changepwdval</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePwd</servlet-name>
		<url-pattern>/ChangePwd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Transferval</servlet-name>
		<url-pattern>/Transferval</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Transfer</servlet-name>
		<url-pattern>/Transfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Forgotpwdval</servlet-name>
		<url-pattern>/Forgotpwdval</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Forgotpwd</servlet-name>
		<url-pattern>/Forgotpwd</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Login.html</welcome-file>
	</welcome-file-list>
</web-app>
